@import "../../sass/base/base.scss";

.container {
	margin-top: 16px;

	width: 512px;

	outline: 2px solid $fg;
	padding: 16px;
	padding-bottom: 0;
}

.filter {
	padding-bottom: 16px;

	display: flex;
	align-items: center;
	gap: 16px;

	&__text {
		margin: 0;

		color: $fg;

		font-size: 16px;
		font-weight: 400;
	}
}

.task-list {
	padding: 0;
	margin: 0;

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 0;
		margin: 0;
	}

	&__wrap {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&__checkbox:checked ~ &__text {
		text-decoration: line-through;
	}

	&__text {
		margin: 0;

		color: $fg;

		font-size: 16px;
		font-weight: 400;
	}

	&__delete {
		padding: 4px 8px;

		background-color: transparent;
		outline: 2px solid $fg;
		color: $fg;

		font-size: 16px;
		font-weight: 400;

		&:hover {
			background-color: rgba($fg, 0.1);
		}
	}
}
